 <p style="font-family: 'Open Sans','Helvetica Neue',arial,sans-serif; margin: 0;padding: 0;line-height: 1.5em;color: #797f7f; font-size: 12px;">



	Hola <%= @usuario.Nombre %>, bienvenido a Pocas Luces.<br><br>

	Con esta suscripción se te mandarán las actualizaciones correspondientes a tu buzón de correo para que estés al día con los contenidos de Pocas Luces.<br><br>

	Como decía, espero que disfrutes de los contenidos, al menos una parte de lo que yo disfruto creándolos.<br><br>

	Recibe un saludo de <a href="www.pocasluces.es" style="font-family: 'Open Sans','Helvetica Neue',arial,sans-serif;margin: 0;padding: 0;color: #398fd1;text-decoration: none;">
	pocasluces.es</a>

</p>
