<br>

<i>"Un resultado del interés popular por la astronomía es que recibo gran cantidad de correo, cartas de todas clases, algunas muy agradables, como las de gente que escribió poemas y sonetos sobre la placa del Pioneer 10; algunas son de escolares que desean que les solucione sus deberes de la semana, otras de personas extrañas que me piden dinero prestado; algunas de individuos que desean que compruebe y examine al detalle sus planos sobre inventos que van desde armas que lanzan rayos especiales, naves espaciales, hasta máquinas de movimiento continuo. También hay cartas de personas que abogan por diversas disciplinas misteriosas, como la astrología, relatos de contactos con seres extraterrestres, ficción especulativa de Von Däniken, brujería, quiromancia, frenología, naipes de Tarot, meditación trascendental y experiencias psicodélicas. También, de vez en cuando, aparecen historias más tristes, como la de una mujer que recibió un mensaje verbal de los habitantes de Venus a través de la alcachofa de su ducha, o la de un hombre que intentó denunciar a la Comisión de Energía Atómica por seguir cada uno de sus movimientos con "rayos atómicos". Hay cierto número de personas que escriben diciendo que pueden recoger señales inteligentes extraterrestres de radio a través de los empastes de sus muelas, o concentrándose de determinada manera" </i><br>
<p ALIGN=right> Carl Sagan, La conexión cósmica.</p><br><br>


Para todo eso y algo más, no dudéis en contactarme.
 <br><br>
<ul>
	<li>	Email: carlos.gonzalez@openmailbox.org</li>
	<li> 	Sitio Web: www.pocasluces.es</li>
</ul>