
<body>

<code class="intro">

<h2>Bienvenido a Pocas Luces.</h2>
<br>
<br>
No en todos los sitios está bien visto tener pocas luces, pero este no es uno de ellos. Esta página será un sitio de encuentro para quienes disfrutemos de observar el cielo con toda la oscuridad que se nos permita, y aquellos que quieran tener un agujerito en la ciudad para ver qué es lo que hacemos. Pero no me malinterpretéis, tener pocas luces no significa que aquí no nos guste darle al coco, también habrá espacio para ello.
	<br><br>
 Este sitio está creado para divulgación de contenidos astronómicos, pero sin pretensiones de codearse con los excelentes blogs de astronomía ya existentes. Tan solo pretendo con este sitio organizar todo el trabajo que vaya realizando y compartirlo con quien esté interesado en echar un vistazo de vez en cuando. En Pocas Luces, al menos por ahora, se van a mostrar tres tipos de contenidos:
<br>
<br>

	 <ul class="entrada">
	    <li> ·Fotografías realizadas por mi con una contextualización, una descripción técnica astro-fotografica y el equipo con el que se haya tomado la fotografía. Pretendo que en este apartado se pueda ver mi progreso y evolución en la astrofotografía así que para aquellos que lleven tiempo en esto, sed comprensivos y tened paciencia.
	    	<br><br>

		<li> ·Pequeños ejercicios o problemas que relacionen matemáticas sencillas con descubrimientos, avances o curiosidades sobre astronomía. 
			<br><br>

		<li> ·Modificaciones o actualizaciones que vaya haciendo en la página web, ya sea en el contenido o en la administración de la página.
	</ul>


Como no pretendo pelearme por conseguir un espacio en las redes sociales voy a facilitar suscripciónes por correo electrónico para aquellos que quieran seguir mi trabajo. Aseguro que no se va a enviar nada que no esté relacionado con lo prometido, y que no traficaré con la lista de direcciones. Donde probablemente tan solo haya familiares y amigos.

<br><br>

Espero que disfrutéis de los contenidos aunque solo sea una parte de lo que disfruto yo creándolos. Sois libres de compartir mi trabajo si pensáis que alguien puede estar interesado y no os cortéis en comentar, preguntar o incluso corregir las publicaciones.

<br><br>
Un abrazo.<br>
Carlos.

<br><br>

</code>

</body>