 <p style="font-family: 'Open Sans','Helvetica Neue',arial,sans-serif; margin: 0;padding: 0;line-height: 1.5em;color: #797f7f; font-size: 14px;">

<% ruta = "http://www.pocasluces.es/entrada_blogs/#{@post.id}" %>
<% nombre = @post.titulo %>

	Hola <%= @usuario.Nombre %>.<br><br>


	Debido a tu suscripción a pocas luces te notificamos que hay una nueva actualización de la página con el título 
<a href = <%= ruta %> > <%= nombre %> </a>No te olvides de comentar, y si te gusta, de compartir.<br><br>


	Recibe un saludo de <a href="http://www.pocasluces.es/" style="font-family: 'Open Sans','Helvetica Neue',arial,sans-serif;margin: 0;padding: 0;color: #398fd1;text-decoration: none;">
	pocasluces.es</a>

</p>
