<body>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>



	<div id="logo">
	    <IMG SRC="/rezagadas_logo.png" ALT="Rezagadas el blog de Astronomía" WIDTH=100%  >
	</div>
	
<br>




	</div id="menuizquierda">

	kkkkkggggggggggg gggggggggggggggggggggg gggggggggggggggggggggggg ggggggggggggggggggggggg hhhhhhhhhhhhhhhhh hhhhhhhhhhhhhhhhhhhhh hhhhhhhhhhhhhhhhhhhhhhh hhhhhhhhhhhhhhhhhhhhhhhh hhhhhhhhhhhhhhhh hhhhhhhhhhhhhhhhhh

	</div>



	</div id="principal">

	<%= yield %>

	</div>


</body>