<html>
  <body style="background: #F5F5F5">

<div class="logo">

 <%= image_tag('pocas_luces.png',  style: "border: 0; display: block; width: 100%;max-width: 1370px", alt: "Pocas Luces.") %><br>

</div>
    <%= yield %>
  </body>
</html>
