<html>
  <body style="background: #F5F5F5">

<div class="logo">
<a href=  "http://www.pocasluces.es"  target="_blank">
 <%= image_tag('pocas_luces.png',  style: "border: 0; display: block; width: 100%;max-width: 1370px", alt: "Pocas Luces.") %><br>
 </a>
</div>
    <%= yield %>
  </body>
</html>
